[defaults]

inventory = inventory

host_key_checking = False  # optional: removes the SSH prompt 

deprecation_warnings = False  # optional: removes deprecation warning in playbooks

remote_user = mma
private_key_file = ~/.ssh/db_node_key
